<div class="jumbotron text-center">
  <h2>Tweet</h2>
  <form action="/tweet" method="get">
    <div>
      <label for="message"><b>Message</b></label>
      <input type="text" placeholder="Enter Message" name="message" required>
    </div>
    <button type="submit">Tweet!</button>
  </form>
</div>
