<div class="jumbotron text-center">
  <h2>Query</h2>
  <form action="/query" method="get">
    <div>
      <label for="query"><b>Query</b></label>
      <input type="text" placeholder="Enter Query" name="query" required>
    </div>
    <button type="submit">Execute</button>
  </form>
</div>
